<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background_eggtask_default@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>customizable_poll_function_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>customizable_poll_guide_toolbar_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>customizable_poll_toolbar_icon_new@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>digg_icon_small@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>fans_club_privilege_upgrade@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>favorite_edit_hint_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>featured_entrance_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>first_recharge_animated_gift@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>frozen_coins_time_limit@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_bag_send_card_spinner@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_bubble_ellipsis_right@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_cohost_audience_mute@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_cohost_inviteelist_bubble_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_cohost_live_paused_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_cohost_mute@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_cohost_unmute@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_creator_gift_panel_privilage@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_creator_gift_panel_retry_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_double_battle_back_blue@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_double_battle_back_red@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_effect_spec_album@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_effect_spec_border@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_fans_club_rank_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_follow_btn_plus_mark@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_frozen_coin_v2_header_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_frozen_coins_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_game_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_gif_sub_sku@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_gift_big_lock@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_gift_cpc_indicator@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_gift_icon_white@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_gift_lock_v2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_gift_panel_bag_tab_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_gift_panel_sort_normal@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_gift_tray_points_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_goody_bag_join_success_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_goody_bag_more_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_goody_bag_short_touch_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_info_circle@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_interact_mute@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_interact_panel_vote_audience@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_join_fans_toast_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_live_aperture@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_live_goal_pin_capsule_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_live_pro_user_info_highlight@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_live_smallSun@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_liveroom_program_follow_bac_new@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_lop2_plane@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_card_countdown_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_contribute_list_rank_blue_1@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_rank_blue_2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_rank_blue_3@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_rank_red_1@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_rank_red_2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_rank_red_3@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_contribute_list_sofa@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_countdown_bg@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_default_avater_blue@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_default_avater_red@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_gradient_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_guide_new_card_hammer@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_mvp_badge@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_score_blue@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_score_red@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_start_static@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_title_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_multi_battle_invite_back_blue@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_multi_battle_invite_back_red@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_multi_battle_receive_back_blue@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_multi_battle_receive_back_red@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_multiguest_singing_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_rank_team_name_separator@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_red_tick@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_delete@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_download@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_download_blank@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_download_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_reserve@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_replay_rotate@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_result_status_lose@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_result_status_win@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_scorebar_gift_shimmer@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_specific_gift_list_shimmer@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_specific_gift_shimmer@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_starComment@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_stream_goal_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_sub_gift_payment_failed@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_sub_gift_payment_success@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_sub_info_tip_btn@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_sub_video_sensitive@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_subscribe_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_tiktok_logo_circle@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_toolbar_vote@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_white_back_button@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_yellow_diamonds@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gift_placeholder_v2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>guide_bulletin_toolbar_item@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>guide_icon_game_orientation_h@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>head_not_logged@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>icon_bannerclose@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>icon_pick_image@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>icon_tool_game_tips@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_bulletin_toolbar_item@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_events_tip@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_gift_sponsor_tray_background@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_guide_close@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_guide_live_studio_demo_v2@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_guide_live_studio_hintLogo@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_guide_live_studio_learn_more_link@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_guide_live_studio_logo@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_guide_voice_default_avatar_2@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ies_live_video_quality_audience_auto_landscape@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_video_quality_audience_hd_landscape@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_video_quality_audience_origin_landscape@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_video_quality_audience_sd_landscape@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>ies_live_video_quality_audience_uhd_landscape@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>imgFacialRecognition@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>img_signin_defaultavatar@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>karaoke_entrance_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>link_mic_grid_fix_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>link_mic_grid_float_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>link_mic_panel_fix_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>link_mic_panel_float_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>liveMarkTagMT@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_anchor_center_flare_card@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_anchor_center_growth_entrance_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_anchor_center_task_complete@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_anchor_growth_task_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_anchor_same_effect_placeholder@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_anchor_wave_hand@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_anchor_wave_line@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_arrow_left_right@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_audience_entrance_sofa_1@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_audience_entrance_sofa_2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_audience_wave_hand@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_audience_wave_hand_line@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_audio_pause_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_avatar_default@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_avatar_placeholder@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cake_sticker_state_view_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_invitee_topic_status@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_quick_pair_avatar@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_quick_pair_avatar_small@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_cohost_topic_bubble@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_cold_start_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_comment_delete_dark@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_comment_delete_white@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_custom_poll_enter@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_drawer_empty_segmented_lives@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_drawer_sth_wrong_refresh@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_effect_disable_alert_image@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_effect_panel_none_effect@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_effect_shortcut_panel_close@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_effect_shortcut_panel_expand@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_fans_club_highlight_bulb@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_club_highlight_exclusive_gifts@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_club_highlight_levelup_celebration@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_club_highlight_privilege@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_club_highlight_privilege_mask@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_club_highlight_spot_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_fans_level_top_fans_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_feed_drawer_entrance_multi_living_more@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_finish_follow_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_fullscreen_new_bg@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_gift_box_entrance_placeholder@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_gift_panel_privilege_center_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_gift_shortcut_welcome_pack@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_guide_effect@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_guide_game_selected@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_guide_game_unselected@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_guide_game_unselected_dark@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_guide_onboard_task_open@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_interactive_close@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_interactive_reversal@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_landscape_message_off_new@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_mt_tool_decoration_background@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_music_empty@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_pk_start_animation_opptsite_opt1@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_pk_start_animation_owner_opt1@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_play_together_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_preview_card_privilege_center_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_priviliege_center_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_programmed_down@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_programmed_up@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_push_setting_close@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_rank_bottom_bar_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_ranklist_class_league_A@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_ranklist_class_league_D@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_replay_edit_clip@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_room_toolbar_tip_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_sequence_show_list_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_show_background@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_social_interaction_mic_fanticket@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_social_network_tag_1@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_social_network_tag_2@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_gift_history@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_gift_more@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_sub_gift_random@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_gift_specific@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_plan_detail_background@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_plan_right_image@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_privilege_only_chat@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_privilege_only_live@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_privilege_only_note@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_sub_share_bg@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_sub_share_tt_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_subscribe_in_room_panel_tips_light@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_subscription_faq@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_subscription_inroom_manager_panel@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_survey_chevron_up@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_swipe_BG_picture_local@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_user_level_avatar_badge_light@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_user_level_avatar_notify@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_videoedit_novideo@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_videoedit_pause@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_videoedit_play@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_videoedit_retry@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_watch_live@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>liveroom_fantastic_gift_panel_combo_background@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>liveroom_full_screen_survey_bac@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>liveroom_head_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>liveroom_pk_first_guide_opt1@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>liveroom_start_bg.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>match_items_IM_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>match_items_opposite_smoke@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>match_items_opposite_strike@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>messagelist_speaker@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>multi_guest_function_entrance@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>multi_guest_live_show@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>rank_entrance_team@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>rank_league_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_bg_top1@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_bg_top2@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_bg_top3@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_history_team@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_schema_right_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_list_team@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>rank_llist_common_schema_bg@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>retry_arrow_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>retry_arrow_icon_dark@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>sound_effect_edit_mark@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>sub_setting_right_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>subonly_live_card_close@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>subscription_sub_only_card_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ttlive_class_rank_bottom_dark_star_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>ttlive_slide_up_guide_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>user_level_arrow@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>user_level_help_button@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>user_level_upgrade_icon@2x.png</key>
	<string>live_tiktok_wrap_phase_launch</string>
</dict>
</plist>
