<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>avatar_live_tag_opti.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>follow_succeed.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_exposure_guide_hand.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_gift_combo_button_golden.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_hammer_path_1.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_hammer_path_2.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_invite_blue_wave.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_invite_red_wave.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_preview_spead_line.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_receive_blue_wave.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_receive_red_wave.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_score_clap.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_score_come_on.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_score_initial.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_score_rush.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_score_sad.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_score_sunglasses.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_match_score_white.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_match_zero_alarm_clock.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>gbl_playbook_showing_animation.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>gbl_subpage_gift.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_academy_animation_icon.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_audio_room_volume_max.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_audio_room_volume_mid.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_audio_room_volume_min.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_battle_score_initial_animation.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_battle_score_weak_animation.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_battle_start_animation_opt1.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_big_party_talking_high.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_big_party_talking_low.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_big_party_talking_mid.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_bottom_swipe_up_guide_arrow.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_interacting.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_wave_connectingView.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_cohost_wave_management.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_eggtask_arr_animation.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_entrance_drawer.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_gift_shortcut_welcome_pack.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_interact_toolbar_apply_animation.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_interaction_countdown_background.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_multi_interact_request_animation.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_rank_list_living_line_animation.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>live_recharge_coin_fall.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
	<key>live_skylight_tag_opti.webp</key>
	<string>live_tiktok_wrap_phase_launch</string>
	<key>multiguest_live_showing.webp</key>
	<string>live_tiktok_wrap_phase_preview</string>
</dict>
</plist>
